html {
    font-size: 20px;
}
body{
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}
#heading{
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px 5px #F87171
    ;

}
.words {
    max-width: 500px;
    margin: 50px auto;
    background:white;
    border-radius: 7px;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 1, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

p{
    margin:  0 0 3rem;
}
.words:before {
    content: "";
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
} 




